.card__item {
  border: 1px solid #e5e5e5;
  list-style-type: none;
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #F7F7F7;
  box-shadow: 0 5px 8px #e1e0e0;
  margin-bottom: 20px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 5px 8px #d9d8d8;
  }
}

.card__header {
  display: flex;
  align-items: center;
}

.card__type-svg {
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

.card__number {
  font-size: 30px;
  color: #414141;
  flex-grow: 1;
  margin: 0 25px 0;
}

.card__remove-btn {
  background: inherit;
  border: none;
  cursor: pointer;

  &:hover {
    .card__remove-svg {
      fill: #f37979;
    }
  }
}

.card__remove-svg {
  fill: #e54949;
  width: 40px;
  height: 40px;
  transition: 0.3s;
}

.card__description {
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.card__number-part {
  margin-right: 12px;
}
