@import '../variables';

.header {
  font-size: 34px;
  font-weight: 400;
  color: $dove-gray;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  min-height: 4%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $titan-white;
  z-index: 2;
}
