$white: #FFFFFF;
$titan-white: #FAFAFF;
$seashell: #F2F1F1;
$alto: #E0DFDF;
$dove-gray: #666666;
$flamingo: #EF4445;
$tundora: #464646;
$portage: #7D80EB;
$eucalyptus: #1FA64F;

$screen-sm: 575px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
